# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
env/
venv/

# IDE / Editor
.vscode/
.idea/
.vscode/settings.json


# OS
*.DS_Store

# Runtime files
*.log

# Secrets
.env

# Personal development notes
DEVELOPMENT.md


